In [8]:
import os
import requests as rq
import pandas as pd
from sqlalchemy import create_engine
## To Do: Create this as a python script for practice

In [15]:
# os.system(wget "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz" -O green_trips.csv.gz)
# green taxi url: https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz
# zones url: https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
green_taxi_data = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression='gzip', low_memory=False)
zones = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [16]:
## To Do: Replace with wget so we don't need to store dataset locally 
# green_taxi_data = pd.read_csv('green_tripdata_2019-09.csv.gz', low_memory=False)
# zones = pd.read_csv('taxi+_zone_lookup.csv')

In [17]:
green_taxi_data.head()
zones.head()
# green_taxi_data.describe()
# zones.describe()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [18]:
##Connect to Postgres DB
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
#print schema for green_taxi_data
print(pd.io.sql.get_schema(green_taxi_data, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [20]:
##print schema for zones dataset
print(pd.io.sql.get_schema(zones, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [21]:
#Convert datetime columns to datetime data type
green_taxi_data.lpep_pickup_datetime = pd.to_datetime(green_taxi_data.lpep_pickup_datetime)
green_taxi_data.lpep_dropoff_datetime = pd.to_datetime(green_taxi_data.lpep_dropoff_datetime)

#Print schema again to check changes
print(pd.io.sql.get_schema(green_taxi_data, name='green_taxi_data', con=engine))
# print(pd.io.sql.get_schema(zones, name='zones', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
#Create table and headers (0th row)
green_taxi_data.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')
zones.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

#Insert green_taxi_data df into postgres
green_taxi_data.to_sql(name = 'green_taxi_data', con=engine, if_exists='append')
zones.to_sql(name = 'zones', con=engine, if_exists='append')

265

In [23]:
## TODO: Use iteration to ingest data for practice. learn how to do it properly.

In [24]:
# %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 1.59 s, sys: 45.3 ms, total: 1.64 s
Wall time: 3.33 s

1000

In [15]:
# from time import time

In [34]:
# ingest data into postgres db in chunks (not needed for this exercise) 

# while True: 
#     t_start = time()

#     df = next(df_iter)

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk, took %.3f second' % (t_end - t_start))